body {
  font-family: Helvetica;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid #ccc;
}

td.blue {
  background-color: #8080ff;
}

td.red {
  background-color: #ff8080;
}

