<html>
  {% include '_webkit.html' %}
  <head>
    <title>Foosalizer</title>
    <link rel="stylesheet" href="static/foosalizer.css" />
  </head>
  <body>
    <h1>Admin</h1>
    Welcome, {{ user.nickname }}. <a href="{{ logout_url }}">log out</a>
    <br/>
    Players:
    <ul>
    {% for player in players %}
    <li>
      {{ player.nickname }}
      <a href="{% url RebuildStats player.key %}">rebuild stats</a>
    </li>
    {% endfor %}
    <li><a href="{% url RebuildStats "all" %}">rebuild all</a></li>
    </ul>
    Matches:
    <form action="/admin/delete" method="post">
      {% for match in matches %}
        <input name="match" type="checkbox" id="{{ match.key }}" value="{{ match.key }}">
        <label for="{{ match.key }}">
        {{ match.creator }}'s game on {{ match.kickoff }}
        </label>
        <br/>
      {% endfor %}
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
