<html>
  {% include '_webkit.html' %}
  <head>
    <title>Foosalizer</title>
    <link rel="stylesheet" href="static/foosalizer.css" />
  </head>
  <body>
  <div id="main">
    <h1>Foosalizer</h1>
    <div id="header">
      <span>{{ player.nickname }}</span> |
      <a id="sign-out" href="{{ logout_url }}">Sign out</a>
    </div>
    <a href="{% url NewMatch %}">Start a new match</a>
    <h2>Your recent matches</h2>

   {% if matches %}
    <table>
      <thead><tr><th>Creator</th><th>Time</th><th>&nbsp;</th></tr></thead>
      <tbody>
       {% for match in matches %}
        <tr>
          <td>{{ match.creator }}</td>
          <td>{{ match.kickoff }}</td>
          <!--
          <td>
            <a href = "{% url MatchAnalysis match.key %}">view details</a>
          </td>
          -->
        </tr>
       {% endfor %}
        <tr><td colspan="3">
          {% comment %}
          See how to do this with "url Index show_all_matches=1".
          {% endcomment %}
          <a href="/?show_all_matches=1">show all</a></td></tr>
      </tbody>
    </table>
   {% else %}
    You have no matches.
   {% endif %}
   <!--
    <h2>Your stats</h2>
    <table>
      <tr><td class="w">Goals scored</td><td>{{ stats.goals_scored }}</td></tr>
      <tr><td class="w">Goals conceded</td>
          <td>{{ stats.goals_conceded }}</td></tr>
     {% if stats.goals_scored %}
      <tr><td>Fastest goal</td><td>{{ stats.fastest_goal }} sec</td></tr>
     {% endif %}
      <tr><td>Goals in a row</td><td>{{ stats.goals_in_a_row }}</td></tr>
     {% if stats.goals_conceded %}
      <tr><td>Nemesis</td><td><b>{{ stats.nemesis.player }}</b>
              with {{ stats.nemesis.goals }} goals</td></tr>
     {% endif %}
      <tr><td colspan="2">
          <a href="{% url PlayerAnalysis player.nickname %}">more stats</a>
      </td></tr>
    </table>
    <br/>
    -->
  </div>
  </body>
</html>
