<html>
  {% include '_webkit.html' %}
  <head>
    <title>Foosalizer</title>
    <link rel="stylesheet" href="static/foosalizer.css" />
  </head>
  <body>
  <div id="main">
    <h1>Foosalizer</h1>
    <div id="header">
      <span>{{ player.nickname }}</span> |
      <a id="sign-out" href="{{ logout_url }}">Sign out</a>
    </div>
    <a href="{% url NewMatch %}">Start a new match</a>
    <h2>Your recent matches</h2>

   {% if matches %}
    <table>
      <thead><tr><th>Creator</th><th>Time</th><th>&nbsp;</th></tr></thead>
      <tbody>
       {% for match in matches %}
        <tr>
          <td>{{ match.creator }}</td>
          <td>{{ match.kickoff|date:"D d M Y @ P" }}</td>
          <!--
          <td>
            <a href = "{% url MatchAnalysis match.key %}">view details</a>
          </td>
          -->
        </tr>
       {% endfor %}
        <tr><td colspan="3">
          <a href="/?show_all_matches=1">show all</a></td></tr>
      </tbody>
    </table>
   {% else %}
    You have no matches.
   {% endif %}

    <h2>Your stats</h2>
    <table>
      <tr>
        <td>Matches played:</td>
        <td>{{ current_stats.matches_played|default:"none" }}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Goals scored</td>
        <td>
          {{ current_stats.goals_scored|default:"none" }}
          (lethality: {{ current_stats.lethality|default:0|floatformat:2 }})
        </td>
        <td>
          <img src="http://chart.apis.google.com/chart?cht=ls&chs=100x25&chds=0,10&chd=t:{{ charts.lethality|join:"," }}&chco=FF0000">
        </td>
      </tr>
      <tr>
        <td>Goals conceded</td>
        <td>
          {{ current_stats.goals_conceded|default:"none" }}
          (pwnability: {{ current_stats.pwnability|default:0|floatformat:2 }})
        </td>
        <td>
          <img src="http://chart.apis.google.com/chart?cht=ls&chs=100x25&chds=0,10&chd=t:{{ charts.pwnability|join:"," }}&chco=00FF00"/>
        </td>
      </tr>
      <tr>
        <td>Awesomeness</td>
        <td>
          {{ current_stats.awesomeness|default:0|floatformat:2 }}
        </td>
        <td>
          <img src="http://chart.apis.google.com/chart?cht=ls&chs=100x25&chds=0,10&chd=t:{{ charts.awesomeness|join:"," }}&chco=0000FF">
        </td>
      </tr>
      <tr>
        <td colspan="3">
        <a href="{% url Charts %}">charts</a>
      </td></tr>
    </table>
    <div id="chart_div"></div>
    <br/>

  </div>
  </body>
</html>
