<html>
  <head>
    <title>Foosalyzer</title>
    <link rel="stylesheet" href="/static/foosalizer.css" />
    <link rel="stylesheet" href="/static/analysis.css" />
  </head>
  <body>
    <h1>Match Analysis</h1>
    Kick off: {{ match.kickoff|date:"D d M Y @ H:m:s" }}<br/>
    Goals
    <table>
      <tr>
        <td>Time (s)</td>
        <td>Scored by</td>
        <td>Scored from</td>
        <td>Pwned</td>
      </tr>
      {% for goal in goals %}
      <tr>
        <td class="{{ goal.team }}">{{ goal.time }}s</td>
        <td class="{{ goal.team }}">{{ goal.player }}</td>
        <td class="{{ goal.team }}">{{ goal.position }}</td>
        <td class="{{ goal.team }}">{{ goal.opponent_back }}</td>
      </tr>
      {% endfor %}
    </table>

    <hr/>

    Total Goals:<br/>
    <img src="http://chart.apis.google.com/chart?cht=p3&chd=t:{{ stats.TotalGoals.data.values|join:"," }}&chs=250x100&chl={{ stats.TotalGoals.data.values|join:"|" }}&chdl={{ stats.TotalGoals.data.keys|join:"|" }}"/>

    <hr/>

    Goals by Position:<br/>
    {% for p in stats.GoalsByPosition.data.items %}
      <img src="http://chart.apis.google.com/chart?chtt={{ p.0 }}&cht=p3&chd=t:{{ p.1.values|join:"," }}&chs=250x100&chl={{ p.1.values|join:"|" }}&chdl={{ p.1.keys|join:"|" }}"/>
    {% endfor %}

    <hr/>

    <br/>
    <a href="{% url Index %}">To front page</a>
  </body>
</html>

